* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #cef6f3;
    padding: 25px;
    border-bottom: 2px solid #d9a9c2;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: #525151;
    font-weight: bold;
    transition: 0.3s;
}

main {
    padding: 40px;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
}

section {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 32px;
}

p {
    margin-bottom: 30px;
    line-height: 1.6;
}

.boton {
    display: inline-block;
    padding: 12px 25px;
    background-color: #5df874;
    color: #333;
    text-decoration: none;
    border-radius: 8px;
}