/* Configuración general para todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos principales del encabezado */
.header {
    background-color: #cef6f3;
    border-bottom: 2px solid #f698c9;
}

/* Barra de navegación superior */
.navbar {
    width: 100%;
}

/* Lista de opciones del menú */
.menu {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 35px;
    padding: 15px 25px;
}

/* Segunda fila del encabezado */
.header-inferior {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
    background-color: #f9fcf0;

}

/* Espacio reservado para el logo de la clínica */
.logo {
    text-decoration: none;
    color: #525151;
    font-size: 24px;
    font-weight: bold;
}

/* Acciones disponibles en el encabezado */
.acciones-header {
    display: flex;
    gap: 15px;
}

/* Botones de búsqueda, perfil y menú */
.acciones-header button {
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
}

/* Estilos de los enlaces del menú */
.menu a {
    text-decoration: none;
    color: #070707;
    font-weight: bold;
    transition: 0.3s;
}

/* Espaciado general del contenido principal */
main {
    padding: 40px;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
}

section {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 32px;
}

p {
    margin-bottom: 30px;
    line-height: 1.6;
}

/* Estilo del botón principal */
.boton {
    display: inline-block;
    padding: 12px 25px;
    background-color: #5df874;
    color: #333;
    text-decoration: none;
    border-radius: 8px;
}